.dept {
  width: 250px;
  padding: 15px ;
  border-radius: 10px;
  background: rgb(244, 208, 208);
  box-shadow: 0px 2px 10px rgba(16, 1, 1, 0.1);
  text-align: center;
  margin: 20px;
  border-radius: 10px;
}
.depts h1{
  color: #1c23ef;
  text-align: center;
  border-bottom:2px solid #1c23ef;
}

.dept img {
  width: 100%;
  /* height: 100px; */
  border-radius: 8px;
}

.can{
  width: 100%;
   display: flex;
   /* flex-direction: row-reverse;      */
  gap: 20px;
  justify-content: center;
  
}

.do{
    width: 100%;
   display: flex;
   /* flex-direction: row-reverse;      */
  gap: 20px;
  justify-content: center;
  
}

.course-name {
  font-size: 19px;
  font-weight: 400;
  margin-top: 10px;
}

.course-code {
  font-size: 15px;
  color: #393838;
  margin: 5px 0 15px;
}

.view-btn {
  padding: 10px 14px;
  background: #007bff;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.view-btn:hover {
  background: #0056c7;
}
.depts{
  background-color: rgb(246, 238, 227);
}