.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 57, 0.7),rgba(8, 0, 57, 0.7)), url('../../assets/students.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.hero-text{
    text-align: center;
    max-width: 800px;
}
.hero-text h1{
    font-size: 30px;
    font-weight: 600;
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
}
.btn{
padding: 15px 20px;
margin: 0 auto;
max-width: 150px;
}

