nav {
     width: 100%;
     background-color: #e8c890;
     color:black;
     padding: 0px 2px;
     top: 0;
     left: 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 5;
     /* margin: 0 auto;
     max-width: 1200px; */
}
.logo{
    width: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 10px;
    font-size: 14px;
}
